@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,300);

html {
  background: url(../images/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

/* INDEX */

.frame{
  display: none;
}



/* A PARTIR DE ACÁ MODO ESCRITORIO */

@media (min-width : 768px){

  .frame{
    display: inherit;
  }

  .menu{
    float: right;
    padding: 20px 40px 0 0;
  }

  nav{
    height: 60px;
  }

  ul{
    overflow: hidden;
  }

  li{
    list-style-type: none;
    font-weight: bold;
    float: left;
    color: #FFF;
  }

  a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    width: 100px;
  }

  .separador{
    width: 30px;
    text-align: center;
  }

  .algo{
    position: relative;
    top: 600px;
    height: 300px;
    background-color: white;
  }
}
